.regulamin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 2rem;
  min-height: 100vh;
  background: $color-white;

  &__h1 {
    align-self: center;
    font-size: $font-1;
    margin: 2rem 0;
  }

  &__h2 {
    margin: 3rem 15vw;
    font-size: $font-2;
  }

  &__p {
    margin: 0 15vw;
    font-size: $font-3;
    margin-bottom: 2rem;
  }
}
