$color-white: #ffffff;
$color-light: #fafafa;
$color-light-grey: #f6f6f6;
$color-grey: #ccc;
$color-dark: #666;
$color-black: #333;
$color-primary: #0077b6;
$color-secondary: rgb(12, 135, 201);

$color-fb: #3b5998;
$color-instagram: -webkit-linear-gradient(#405de6, #fd1d1d, #f77737, #fcaf45);
// linear-gradient(#405de6, #f56040);

$font-1: 4.2rem;
$font-2: 3.2rem;
$font-3: 2.4rem;
$font-4: 1.8rem;
